/* Add your existing CSS styles here */
/* Other styles omitted for brevity */
body{
    margin: 0;
}
nav{
    padding-top: 25px;

    background-color: #FAFAFA;
}
#navslika{
    width: 300px;
    margin-bottom: 10px;
    margin-left: 40px;
}
#login, #register{
    width: 150px;
    height: 40px;
    font-size: 20px;
    font-weight: 800;
    float:right;
    border: 0px solid transparent;
    border-radius: 0.2em;
    background-color: #d02438;
    color: white;
    margin-top: 20px;
    margin-right: 40px;
}
#slikapodnav{
    width: 100%;
}


#registerModal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

#loginModal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
    display: grid;
    justify-content: center;
    text-align: center;
    width: 30%;
    border: 5px solid black;
    background-color: #fff;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close {
    float: left;
    text-align: left;
    cursor: pointer;
}

/* Add your existing CSS styles here */
/* Other styles omitted for brevity */


.igri{
    padding-left: 20px;
    width: 100%;
    height: 700px;
    background-image: url(https://storage.googleapis.com/jp-content/pattern_170e1bebf0/pattern.svg_pattern_170e1bebf0.svg);
}
#prazno{
    width: 100%;
    height: 700px;
}

#slika{
    display: inline-block;
    margin-top: 40px;
    width: 260px;
    height: 150px;
    border-radius: 2em;
}
#textbox{
    padding: 10px;
    margin-top: 10px;
    border-radius: 1em;
    text-align: left;
    width: 240px;
    height:40px;
    background-color: white;
}
#imetoNaIgrata{
    margin-bottom: 5px;
}
#searchbar{
    float: right;
    width: 400px;
    margin-top: 20px;

}
#burgerce{
    float: right;
    width: 40px;
    margin-top: 20px;
    margin-right: 40px;
}